body {
  background-color: #455A64;
  display: inline-block;
  width: 100%;
}

section {
  height: 100vh;
  text-align: center;
  top: 0;
  width: 50%;
}

.input-section {
  background-color: #455A64;
  display: inline-block;
  font-family: open sans;
  position: fixed;
}

.section-header {
  font-size: 5em;
  margin: 20vh auto 0 auto;
  width: 80%;
}

.header-logo {
  height: 3rem;
}

.page-header {
  color: white;
  display: inline;
  font-weight: 800;
  width: 100;
}

.page-form {
  margin: auto;
  width: 550px;
}

.form-input {
  color: #455A64;
  font-size: 1.5em;
  height: 50px;
  margin-top: 50px;
  outline: none;
  width: 100%;
}

.form-text-input {
  text-indent: 1em;
}

.form-text-input::placeholder {
  color: #CFD8DC;
}

.submit-button {
  background-color: #FFC107;
  border: 0;
  box-sizing: content-box;
  color: #fff;
  cursor: pointer;
  font-weight: 800;
  width: 99%;
}

.submit-button:hover {
  background-color: #FFD773;
}

.submit-button:disabled {
  background-color: #ffe083;
  cursor: not-allowed;
}


.output-section {
  background-color: #CFD8DC;
  display: inline-block;
  position: fixed;
  overflow: scroll;
  font-family: open sans;
  right: 0;
}

.card {
  background-color: white;
  border: 1px solid #607D8B;
  height: 10em;
  margin: 7% auto;
  padding: 1%;
  text-align: left;
  width: 80%;
  word-wrap: break-word;
}

.title {
  color: #455A64;
  border: 0;
  border-bottom: 2px;
  border-color: #CFD8DC;
  border-style: solid;
  font-size: 2em;
  font-weight: lighter;
  margin: 2%;
  padding-bottom: 1%;
}

.link {
  color: #607D8B;
  font-size: 130%;
  padding-left: 2%;
  text-decoration-color: #F2F4F4;
}

.delete {
  padding-left: 82%;
}

.read-delete {
  border: 0;
  border-top: 2px;
  border-style: solid;
  border-color: #CFD8DC;
  color: #455A64;
  font-size: 1em;
  margin: 2%;
  padding-top: 2%;
}

a:hover {
  font-weight: bold;
  text-decoration-color: #FFC107;
}

.mid {
  padding-bottom: 4%;
  margin-top: 5%;
}

.read:hover {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #FFC107;
}

.delete:hover {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #FFC107;
}


@media screen and (max width: 1400px){
}























